@import url( 'https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Sans+KR|Poor+Story');

/* responsive */
@media (max-width:800px) {
    .experiences {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: calc(80vh - 10px);
    }

    .experiences a {
        max-width: 450px;
    }

}
@media(min-width:800px) and (max-width:1200px) {
    .experiences {
        display: grid;
      
        grid-template-columns: repeat(2,1fr);
        height: calc(80vh - 10px);

    }

}
@media (min-width: 1200px) {
    .experiences {
        display: grid;
     
        grid-template-columns: repeat(3,1fr);
        height: calc(40vh - 10px);
    }
}

.experiences {
    grid-gap: 10vh;
    
}
.experiences a {
    height: 100%;
    margin: auto;
    overflow: hidden;

}
#blog-wrapper h1 {
    font-family: 'Nanum Myeongjo', serif;
}

#instagram-posts,
#wrapper {
    margin: auto 5%;
}

.post-wrapper {
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
    height: 100%;
    padding: 3vh;

}

#wrapper div a {
    color: white;
    text-decoration: none;
}
.post-contents {
    background-color: black;
    opacity: 0;
    padding: 20px 0;
    transition-duration: 1s;
}
.post-wrapper:hover .post-contents {
    opacity: 1;
    transition-duration: 1s;
}

.post-header {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 24px;
    color: #454444;
    line-height: 1.2;
    z-index: 100;
    margin: 0;
}
.post-date {
    color: #888484;
}
.post-info {
    margin: 15px auto auto;
    text-align: center;
}
.img-pic {
    margin: auto;
    display: block;
    display: block;
    max-width: 280px;
    max-height: 200px;
    width: auto;
    height: auto;
       z-index: 1001;
}
