@media (min-width: 800px) {
    .show-case {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (min-width: 800px) and (max-width:1000px) {
    .show-case {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1000px){
    .show-case {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}


.show-case {
    display: grid;
}

.show-case .card {
    margin: 30px 5px;
    flex: auto;
}
