#shortcut-button {
    width: calc(100vh - 100px);
    font-size: 12px;
    position: fixed;
    padding: 15px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left;
    top: 35%;
    left: 20px;
}
#shortcut-button a {
    font-weight: 800;
    padding: 19px;
    margin: 20px;
    
    color: grey;
    transition-duration: 0.2s;
}
#shortcut-button a:hover {
    color: black;
    border-top: black 1px solid;
    transition: ease-in-out;
    transition-duration: 0.2s;
}
#instafeed > div{
    display:none;
}